.jumbotron {
    align-items: center;
    background-color: rgb(94, 94, 134);
    text-align: center;
    color: #000;
}
.list-style {
    background-color: rgb(58, 89, 126)
}

.card-style {
    color: white;
    background-color: rgb(58, 89, 126);
    width: 30px;
    margin-top: 60px;
  
}